{% extends "base.html" %}
{% load static %}
{% block main %}

<section id="welcome-banner">
    <div id="welcome-banner-content">
        <div id="welcome-banner-content-title">
            Enrique Aguilar Ugarte<br>en Encarnación de Díaz
        </div>
        <hr>
        <div id="welcome-banner-content-tagline">
            {% if LANGUAGE_CODE == 'es' %}
                Miradas fotográficas sobre<br>la Guerra Cristera (1926-29)
            {% elif LANGUAGE_CODE == 'en' %}
                Photohistories of the Cristero War (1926-29)
            {% endif %}
        </div>
    </div>

    <div id="welcome-banner-proceed">
        <i class="fas fa-angle-down"></i>
    </div>
</section>

<section id="welcome-content" class="container">
    {# the following is content from the welcome Page object, so can be managed by user #}
    {% include "pages/snippets/pages-content-by-language.html" with page=welcome_page_obj %}
</section>

{% include "pages/snippets/pages-media-viewer.html" %}

<script>
$(document).ready(function(){
    // Include main pages js
    {% include "pages/snippets/pages.js" %}

    // Scroll down to main welcome section when clicking on the proceed button in the welcome banner
    $('#welcome-banner-proceed').on('click', function(){
        $('html,body').animate({ scrollTop: $('#welcome-content').offset().top - 50 }, 500); 
    });
});
</script>

{% endblock %}